<div class="subscribe">
  <div class="row">
    <div class="col-12 col-md-4 mb-2 mb-md-0">
      <h2 class="">{{ site.newsletter.mailchimp.form_title }}</h2>
    </div>

    <div class="co-12 col-md-8">
      <div id="mc_embed_signup">
        <form action="{{ site.newsletter.mailchimp.form_action_url }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="subscribe-form" target="_blank" novalidate>
          <div class="subscribe-fields">
            <input class="required email" id="mce-EMAIL" name="EMAIL" placeholder="Your email address" type="email" value="" />
            <div aria-hidden="true" style="position: absolute; left: -5000px"><input name="b_675276692aebec1c007f8156d_3e3da720c2" tabindex="-1" type="text" value="" /></div>
            <input type="submit" value="Submit" />
          </div>
          <div class="subscribe-responses" id="mce-responses">
            <div class="response response-error" id="mce-error-response" style="display: none"></div>
            <div class="response response-success" id="mce-success-response" style="display: none"></div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>